<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>华联超市管理系统</title>
    <!--引入elementui.css -->
    <link rel="stylesheet" href="libs/elementui/css/elementui.min.css">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- 引入vue.js -->
    <script src="./libs/vue/vue.js"></script>
    <!-- 引入elementui.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>

</head>

<body>
    <!-- 准备dom -->
    <div id="app">

        <el-container>
            <!-- 左边导航 -->
            <el-aside width="230px">
                <!-- 标题 -->
                <div class="liftTitle">
                    <h2>华联超市管理系统</h2>
                    <p>你好，admin</p>
                    <p>
                        <a href="#">管理首页</a>|
                        <a href="#">退出系统</a>
                    </p>
                </div>
                <!-- 导航菜单 -->
                <el-menu :unique-opened='true'>
                    <!-- 账号管理 -->
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-circle-plus"></i>
                            <span>账号管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">添加账号</el-menu-item>
                            <el-menu-item index="1-2">账号列表</el-menu-item>
                            <el-menu-item index="1-3">密码修改</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 账号管理 -->
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>分类管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">分类管理</el-menu-item>
                            <el-menu-item index="2-2">添加分类</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 商品管理 -->
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-goods"></i>
                            <span>商品管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="3-1">添加商品</el-menu-item>
                            <el-menu-item index="3-2">商品列表</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 进货管理 -->
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-tickets"></i>
                            <span>进货管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="4-1">添加库存</el-menu-item>
                            <el-menu-item index="4-2">库存列表</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 出货列表 -->
                    <el-submenu index="5">
                        <template slot="title">
                            <i class="el-icon-sold-out"></i>
                            <span>出货列表</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="5-1">销售列表</el-menu-item>
                            <el-menu-item index="5-2">商品出库</el-menu-item>
                            <el-menu-item index="5-3">商品退货</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <!-- 系统管理 -->
                    <el-submenu index="6">
                        <template slot="title">
                            <i class="el-icon-view"></i>
                            <span>系统管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="6-1">系统信息</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <!-- 右边内容 -->
            <el-container>
                <!-- 右边头部 -->
                <el-header>
                    <h2>欢迎您 admin</h2>
                    <p>查看详细系统信息</p>
                </el-header>
                <!-- 右边内容 -->
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <h2>销售明细</h2>
                        </div>
                        <div class="text item">
                            <!-- 用户表格 -->
                            <!-- 时间段选择！ -->
                            <!-- 开始时间 -->
                            <div class="block">
                                <span class="demonstration">默认</span>
                                <el-date-picker v-model="value1" type="date" placeholder="选择日期">
                                </el-date-picker>
                            </div>

                            <!-- 结束时间 -->
                            <!-- <div class="block">
                                    <span class="demonstration">结束时间：</span>
                                    <el-date-picker v-model="value1" type="date">
                                    </el-date-picker>
                                    <span>(格式为:2012-01-01)</span>
                                </div> -->
                            <!-- 模糊查询框 -->
                        </div>
                    </el-card>
                </el-main>
                <!-- 右边尾部 -->
                <el-footer>
                    &copy; Copyright 2018 华联超市管理系统
                </el-footer>
            </el-container>
        </el-container>
    </div>



    <script>
        // 创建vue实例
        new Vue({
            el: '#app',
            data() {
                return {
                    pickerOptions1: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    },
                    value1: '',
                    value2: '',
                };
            }




        })


    </script>
</body>

</html>